{{/* Github account (if any) */}}
{{- $github_username := promptString "Github username" -}}
{{- $github_email := false -}}

{{/* GPG, ID for key [C] [S] [E] */}}
{{- $key_recipient := false -}}
{{- $key_sign := false -}}
{{- $key_encrypt := false -}}

{{- $soundcard := "0" -}}
{{- $board_name := output "cat" "/sys/devices/virtual/dmi/id/board_name" | trim -}}
{{- if eq $board_name "W51XTU" -}}
{{- $soundcard = "hw:Pro" -}}
{{- end -}}

[gpg]
  recipient = "{{ $key_recipient }}"
[data]
  name = "{{ $github_username }}"
  [data.github] # used to generate the ~/.gitconfig
    email = "{{ $github_email }}"
    name = "{{ $github_username }}"
  [data.gpgkey]
    sign = "{{ $key_sign }}"
    encrypt = "{{ $key_encrypt }}"
  [data.system]
    editor = "vim" # favorite editor, vim, emacs, etc...
    sound = "alsa" # set alsa or pulseaudio here

    # Sound card to use, default is 0
    # pulseaudio -> pactl list sinks short
    # alsa -> cat /proc/asound/cards
    soundcard = "{{ $soundcard }}"